@font-face {
    font-family: 'B Morvarid';
    src: url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/BMorvarid.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/BMorvarid.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/BMorvarid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'B Morvarid', sans-serif;

}

