@font-face {
    font-family: 'Tahoma'; 
    src: url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/Tahoma.woff2') format('woff2'), 
         url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/Tahoma.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/mermaidwig/Fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Tahoma', sans-serif;

}

